/* Container für die gesamte Seite */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 5px;
}

/* Fixiere den Header mit den Buttons oben */
.header {
  text-align: center;
  top: 0;
  background-color: #fff;
  z-index: 10; /* Sicherstellen, dass der Header immer oben bleibt */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

h1 {
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;

  
}

.Hinweise {
  margin-bottom: 20px;
}

.Hinweise ul li{
  font-weight: 400;
  text-align: left;
  padding: 5px;
}

/* Buttons und Fortschrittsanzeige */
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  padding: 10px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: solid;
  border-color: black;
  width: 150px;
}

#uploadBtn {
  background-color: rgba(255, 255, 0, 0.8);
  font-weight: 600;
  cursor: pointer; /* Füge dies hinzu, um den Cursor bei Hover in eine Hand zu ändern */
}

#uploadBtn:disabled {
  background-color: grey; /* Graue Farbe für den inaktiven Button */
  cursor: default; /* Zeigt an, dass der Button nicht klickbar ist */
}

#analyzeBtn {
  background-color: rgba(0, 123, 255, 0.8);
  cursor: pointer;

}

#analyzeBtn:disabled {
  background-color: grey;
  cursor: default;

}

#exportBtn {
  background-color: rgba(0, 128, 0,  0.8);
  cursor: pointer;

}

#exportBtn:disabled {
  background-color: grey;
  cursor: default;

}

#resetBtn {
  background-color: rgba(255, 0, 0, 0.8);
  cursor: pointer;

}
#resetBtn:disabled {
  background-color: grey;
  cursor: default;

}


.progress-container {
  display: flex; /* Flexbox zur Ausrichtung */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Zentrierung des Containers */
  gap: 10px; /* Abstand zwischen Datei-Info und Progressbar */
  width: 100%;
  margin: 20px;
}

#file-message {
  font-size: 14px;
  color: #333; /* Standardfarbe für die Datei-Info */
  margin-right: 10px;
}

#progressBar {
  width: 80%;
  height: 20px;
}

/* Tabelle sollte innerhalb eines scrollbaren Containers sein */
#table-container {
  max-height: 500px; /* Maximale Höhe für die Tabelle */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen */
  padding-top: 20px;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
}

/* Styling für Tabellen */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Info-Box */
#info-box {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  display: none;
}


 footer {
  position: fixed;
  height: 100px;
  width: 100%;
 }
